@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);

body {
    background-color: rgb(47,47,47);
    font-family: 'Roboto';
}

#content {
    text-align: center;
    padding-top: 5%;
    color: #FFFFFF; 
}

a {
    color: #FFFFFF;
}

#contact {
    display: inline-block;
}

#projects a {
    display: block;
}

.project {
    display: inline-block;
    width: 200px;
}

#justdoit {
    padding-left: 20%;
    float: left;
}

#auth {
    float: center;
}

#konverse {
    padding-right: 20%;
    float: right;
}


